#root {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #000;
  width: 100%;
  display: flex;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
justify-content: space-between;
align-items: center;

}

#nav {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
padding-right: 2em;
}

.nav__items a {
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

.link__nav-a:hover {
  color: #ffff00;
}
.link__nav-b:hover {
  color: #ffff00;
}

.img__nav {
  width: 6em;

}